<!doctype html>
<html>
  <body>
    <div class="m-2 textColorDefaultDark"> 
      <h5 class="mt-3 ml-1 mb-1 font-weight-bold">Cadastro de novo usuário</h5>
      <div class="borderSpecial col-md-6 my-2">
          <form class="p-2 pb-3">
            <div class="form-row mt-2">
                  <label class="font-weight-bold text-uppercase" for="idNewUserFirstName">Primeiro Nome</label>
                  <input id="idNewUserFirstName" type="text" class="form-control" required />
            </div>
            <div class="form-row mt-4">
                  <label class="font-weight-bold text-uppercase" for="idNewUserLastName">Último Nome</label>
                  <input id="idNewUserLastName" type="text" class="form-control" required />
            </div>
            <div class="form-row mt-4">
                  <label class="font-weight-bold text-uppercase" for="idNewUserEmail">E-mail</label>
                  <input id="idNewUserEmail" type="text" class="form-control" required />
            </div>
            <div class="form-row mt-4">
                  <label class="font-weight-bold text-uppercase" for="idNewUserPassword">Senha</label>
                  <input id="idNewUserPassword" type="password" class="form-control" required />
            </div>
            
          <button type="submit" class="btn colorDefaultDark float-right mt-3" onclick="clickedSignup(event)">Criar</button>
          </form>
            <p>
              <span id="idErrorSignup" class="text-danger text-monospace p-1 font-weight-bold"></span>
            </p>
          <p>
            <a class="textColorDefaultDark font-weight-bold" href="#" onclick='pageClicked(constIdDivPageHome)'>Voltar</a>
          </p>
      </div>
    </div>
  </body>
</html>